
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75em 0;
}

/* utilities / Reuseable */
.coralText {
  color: coral;
}

.darkText {
  color: #3d3d3d;
}

.coralLightBack {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* nav bar */
#navBar {
  background: linear-gradient(to right top, #ff7f50, #4e4e4e);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100vw;
}

#navLink {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navLinks-a,
.btn {
  padding: 1em;
  color: #e2bbb0;
  margin: 0 0.25em;
}


/* Header: Showcase / First Page*/

header {
  /* max-height: 100vh; */
}

.navLinks-a:hover,
 .btn:hover,
 #projList1:hover,
#projList2:hover{
  background-color: #2d2d2d;
  color: #ff7f50;
  border-radius: 0.5em;
}

#bgImage {
  background: url(../images/programmer.jpg)
  no-repeat center center/cover;
}

.overLayParent {
  background: rgba(78, 78, 78, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  color: #fff;
  /* height: 100vh; */
  /*Height ain't needed for responsiveness*/
}

#overlayHead {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1rem;

}

#overlayBody {
  display: flex;
  /* height: 100%; */
  width: 100%;
}

#overlayRight,
#overlayLeft {
  width: 48%;
  padding: 0.8rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
}

#overlayLeft {
  margin-right: 2%;
}

#overlayRight {
  margin-left: 2%;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 0.5rem;
}
#projList1,
#projList2 {
  padding: 0.5em;
  width: 100%;
  color: #2d2d2d;
}

.shallCover li h5 {
  /* line-height: 1rem; */
  padding-top: 0.3rem;
}

.btn {
  color: coral;
  margin: 1rem;
}

#contactUsBtn {
  background-color: rgba(45,45,45);
  /* background: linear-gradient(to right top,  #4e4e4e,#dd5d30); */
}

#contactUsBtn:hover {
  background-color: rgba(55, 55, 55);
  color: #ff7f50;
  border-radius: 0.5em;
}

footer {
  background: linear-gradient(to right top,  #4e4e4e,#dd5d30); 
  padding: 0;
  margin: 0;
}

#footer-content {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
